<html>
  <head>
    <title>Search Results</title>
  </head>
  <body>
    <h1>Search Results</h1>
    for query: <%= @query %>
    <ul>
    <% @results.each do |result| %>
    <li><%= result %></li>
    <% end %>
    </ul>
  </body>
</html>