<html>
  <head>
    <title>Bible Search</title>
  </head>
  <body>
    <h1>Bible Search</h1>
    <form action="/search">
      <input type="text" name="query" />
      <input type="submit" name="Search" />
    </form>
    <hr />
    <h1><%= @results.size %> result(s) for query: <%= @query %></h1>
    <table>
      <thead>
        <tr>
          <th align="left">Bible</th>
          <th align="left">Reference</th>
          <th align="left">Text</th>
        </tr>
      </thead>
      <tbody>
        <% @results.each do |result| %>
          <tr>
            <td><%= result.chapter.book.bible.shortName %></td>
            <td><%= result.chapter.book.title %> <%= result.chapter.reference %>:<%= result.reference %></td>
            <td><%= result.text %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>