<html>
  <head>
    <title>Bible Search</title>
  </head>
  <body>
    <h1>Bible Search</h1>
    <form action="/search">
      <input type="text" name="query" />
      <input type="submit" name="Search" />
    </form>
    <hr />
    <h1>Results for query: <%= @query %></h1>
    <table>
      <thead>
        <tr>
          <th>Bible</th>
          <th>Reference</th>
          <th>Text</th>
        </tr>
      </thead>
      <tbody>
        <% @results.each do |result| %>
          <tr>
            <td><%= result %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>